<div class="row">
  <% for post in @posts %>
    <div class="col-3">
      <h4>
        <!-- TODO: display the name of the user that created the post -->
      </h4>
      <img class="img-fluid" src="<%= post["image"] %>" class="w-full">
      <p><%= post["body"] %></p>
    </div>
  <% end %>
</div>